<h1>Welcome to RetFlix!</h1>
<p>See our collection of movies below:</p>

<%= render 'searchform' %>

<br>

<table border="1" style="width:75%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Year</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.year_released %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3><%= link_to 'Back to all movies', movies_path %></h3>
<h3><%= link_to 'Add a movie', new_movie_path %></h3>

