<div class="container">
  <div class="text-center">
    <h1>Welcome to Museum!</h1>
    <p class="lead">See our collection of paintings below:</p>
  </div> 
</div>

<%= render 'searchform' %>

<%= render @search_message %>

<br>

<%= render 'paintingstable' %>

<h4><%= link_to 'Back to all paintings', paintings_path %></h4>
<h4><%= link_to 'Add a painting', new_painting_path %></h4>

