<div class="container">
	<div class="row"> 
	  <div class="text-center"><h1>FitPlanner</h1>
	    <p class="lead">About Us:</p>
	  </div>
	</div>

	<br>

	<div class="row">
		<div class="col-sm-2"></div>
	  <div class="col-sm-3"><h3><br><center>Losing focus in the gym? Coming in without a plan? We've been there.</center></h3></div>
	  <div class="col-sm-5" align="center"><%= image_tag "http://media.giphy.com/media/PA04JkP9bDxCM/giphy.gif", height: 200 %></div>
	  <div class="col-sm-2"></div>
	</div>

	<br>

	<div class="row">
	  <div class="col-sm-2"></div>
	  <div class="col-sm-8">
		<h4><center><%= link_to "Build Your Own Workout Schedule:", schedules_path %></center></h4>
		<p>We're strong believers in consistency and a strong routine. Build your own weekly workout schedule to stay on track, and check in everyday for a new exercise to try that corresponds to your schedule! Don't like the one we provided for you? Just click the button and we'll give you a new one!</p></div>
	  <div class="col-sm-2"></div>
	</div>

	<br>

	<div class="row">
	  <div class="col-sm-2"></div>
	  <div class="col-sm-3"><h3><br><center>Not practicing good form? We have the resources to help!</center></h3></div>
	  <div class="col-sm-5" align="center"><%= image_tag "http://media.giphy.com/media/EGuKKDrOhlycE/giphy.gif", height: 200 %></div>
	  <div class="col-sm-2"></div>
	</div>

	<br>

	<div class="row">
	  <div class="col-sm-2"></div>
	  <div class="col-sm-8">
		<h4><center><%= link_to "Search Our Database For New Exercises:", exercises_path %></center></h4>
		<p>With over 800 different exercises, you'll never run out of new ones to try! Search our database and find some new ones that push your limits! Feel free to even add your own exercises for the community to try!</p></div>
	  <div class="col-sm-2"></div>
	</div>

	<br>

	<div class="row">
	  <div class="col-sm-2"></div>
	  <div class="col-sm-3"><h3><br><center>Most of all, we want you to ENJOY your workouts!</center></h3></div>
	  <div class="col-sm-5" align="center"><%= image_tag "http://media.giphy.com/media/GtIoMSajVd1UA/giphy.gif", height: 200 %></div>
	  <div class="col-sm-2"></div>
	</div>

	<br>

	<div class="row">
	  <div class="col-sm-2"></div>
	  <div class="col-sm-8">
		<h4><center><%= link_to "Add Your Favorites:", favorites_path %></center></h4>
		<p>Found an exercise that you absolutely love? Add it to your favorites list and find it again anytime you like!</p></div>
	  <div class="col-sm-2"></div>
	</div>
</div>